body{
  background-image: url('images/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  text-align: center;
  font-size: 150%;
  font-family: 'Indie Flower';
}
h2{
  font-family: 'indie Flower';
}
h1{
  font-family: 'Unlock';
  font-size: 350%;
  text-align: center;
  text-decoration: underline overline;
  text-decoration-color: red;
}
#button{
  color: red;
}
div{
  text-align: center;
  margin-top: 20%;
}
